.profile-info-contact{
    background-color: var(--dark-blue);
    border-top: 2px solid var(--branco-suave);
    border-bottom: 2px solid var(--branco-suave);
}

.profile-info-contact a {
    color: var(--branco-suave);    
}

.profile-info-contact a:hover{
    color: black;
  
}

.contact-title{
    color: white;
}

.address-list{  
    padding: 0.5rem 0 0.5rem 0;
}

.address-list li{
    padding: 5px 0 5px 0;
}