.education{
    text-align: justify;
    background-color: var(--dark-blue);
    color: white
}

@media screen and (min-width: 768px){

    .education{
        background-color: var(--dark-blue);
    }

}

