.languages{
    background-color: var(--midnight-blue);
    color: white
}

.languages-item{
    color: black;
}

.languages-text{
    color: white;
}

@media screen and (min-width: 768px){

    .languages{
        background-color: var(--dark-blue);
        color: var(--branco-suave);
    }
   
    .languages-text{
        color: var(--branco-suave);
    }
    
}
