.scrolltop{
    color: rgb(0, 0, 0);
    background-color: transparent;
    position: fixed;
    right: 0.4rem;
    bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;  
    border-radius: .5rem;
    transition: all 1.0s;
    visibility: hidden;   
}

.scrolltop-icon{
    font-size: 1.0rem;    
}

.scrolltop-icon:hover{
    color: var(--blue-gray);   
}

.show-scroll{
    visibility: visible;
    bottom: 4rem;
}


@media screen and (min-width: 768px){

    .scrolltop{      
        position: fixed;
        left: 5rem;   
        bottom: 2rem;
    }

    .scrolltop-icon{
        font-size: 1rem;
    }

    .show-scroll{
        visibility: visible;
        bottom: 0.3rem;
    }
    
}

