.scrolltop{
    color: rgb(0, 0, 0);
    background-color: transparent;
    position: fixed;
    right: 0.4rem;
    bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;  
    border-radius: .5rem;
    transition: 0.8s;
    visibility: hidden;   
}
.scrolltop-icon{
    font-size: 1.0rem;
    transition: all 0.5s;
}
.scrolltop-icon:hover{
    color: var(--blue-gray);
   
}
.show-scroll{
    visibility: visible;
    bottom: 4rem;
}

@media screen and (min-width: 768px){
    .scrolltop-icon{
        font-size: 1.3rem;
    }
}

